<section id="hero" style="background-color: rgb(201, 182, 205);">
    
            <div class="" >
                
                    <h2>Welcome to Medical Center.Committed to providing the best healthcare.</h2>
                    <h5>Your life.Our passion.Discover Regional One Health.Compassion lives here.Care that lasts a Lifetime.</h5>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp20wVavhWQYw-Wni7jNbVqWYVd80Y-j8XqQ&usqp=CAU" alt="" width="1000px" height="250px">
                    </div>
                        <div>
                            <h5>About the Hospital</h5>
                            <p>Hospital, is a healthcare facility that provides specialized medical and nursing care as well as medical supplies to patients.The most well known form of the hospital is the general hospital,which usually carries an emergency department to handle urgent health issues such as fire and accident victims,as well as medical emergency.</p>
                        </div>
            </div>
</section>